@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body
{
    font-family: 'IBM Plex Mono', monospace;
}

/*css variables*/

:root
{
    --primary-color:#EF4444;
    --secondary-color: #78716C;
}

/*container*/

.container
{
    padding-left: 1em;
    padding-right: 1em;
}

.container-centered
{
    max-width: 600px;
    margin: auto;
}

/*links*/

.links
{
    text-decoration: none;
    padding: 0.5em 1em;
}

.links-primrary
{
    background-color: var(--primary-color);
    border-radius: 0.5em;
    color: white;
}

.links-secondary
{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
}

/*this might be bad practice to apply here @hierarchy @... */
hr
{
    margin: 1em 0em;
}

/*list*/
