@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body
{
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
}

/*css variables*/

:root
{
    --primary-color:#EF4444;
    --gray-color: #78716C;
    --off-white:#E7E5E4;
}

/*container*/

/* .margin-md
{
    margin: 2rem;
} */

.container
{
    padding: 0rem 1rem;
}

.container-centered
{
    max-width: 600px;
    margin: 2rem auto;
}

/*links*/

.links
{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.links-primrary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.links-secondary
{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/*this might be bad practice to apply here @hierarchy @... */
hr
{
    margin: 2rem 0rem;
}

br
{
    margin-bottom: 1rem;
}
/*list: what is best inline on list item or inline on list type ?*/

.lists-non-bullet
{
    list-style-type: none;
}

.lists-items-inline 
{
    display: inline;
    padding: 0rem 1rem;
    
}   


/*navigation*/
.nav-link-active
{
    font-weight: bold;
}

.navigation
{
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 2rem;
    padding: 1rem;
}

.nav-pills .links
{   
    color: white;

}

.navigation .nav-pills
{
    text-align: right;

}

.navigation .navbrand
{
    font-weight: bold;
    font-size: 1.2rem;
}

/* header */

.hero
{
padding: 2rem;
padding-top: 5rem;
}

.hero .hero-image
{   
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading
{
    color: var(--gray-color);
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-heading .hero-inverted
{
    color: var(--primary-color);
}

/* section */

.section
{
    padding: 2rem;
}

.section h1
{
    text-align: center;
}

.section-ow
{
    background-color:var(--off-white);
}

/* footer */

.footer
{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 2rem;
    padding: 1rem ;
    text-align: center;
}

/* .footer .links
{
    color: white;
} */

.footer .footer-header
{
    font-weight: bold;
    font-size: large;
}

.footer ul
{
    padding-inline-start: 0px   ;
}

.social-image
{   
    max-width: 50px;
    background-color: white;
    border-radius: 0.4rem;
}

/*blogs */

.links-blogs
{
    text-decoration: none;
    box-sizing: border-box;
    color: var(--primary-color);
}

.span-guru-text-decoration
{
    text-decoration: underline;
    font-weight: bold;
}

/* projects */

.projects-h1-margin-bottom
{
    margin-bottom: 0rem;
}