/* projects */

.main ul li {
    margin-bottom: 2rem;
}

.main ul li p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* text-align: justify; */
}

.main .links {
    /* margin-top: auto;
   margin-bottom: auto;
   margin-right: auto;
   margin-left: ; */
    margin: auto;
}